# Project specific files
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/*
!.vscode/extensions.json

# OS specific files
### macOS ###
.DS_Store
.DS_Store?
._*
._.DS_Store
.Spotlight-V100
.Spotlight-V100/
.Trashes
.Trashes/
.fseventsd
.fseventsd/
.apdisk
Icon?

### Windows ###
ehthumbs.db
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js dependencies and build outputs
node_modules
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.qoder
.trae
.lingma
